# Created by venv; see https://docs.python.org/3/library/venv.html
*
artifact/
# Python
__pycache__/
*.pyc

# Conda / Virtualenv
venv/
*.env

# Data / Artifacts
artifacts/
logs/
*.npy
*.pkl
*.csv

# Jupyter
.ipynb_checkpoints/

# VS Code
.vscode/
